body {
    background-color: mediumaquamarine;
}

h1 {
    font: italic small-caps bold 160px impact, sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

h2 {
    font: italic small-caps bold 80px impact, sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

h3 {
    font: italic small-caps bold 40px impact, sans-serif;
    text-align: center;
    color: white;
}

p, ul, a {
    font: 20px arial, sans-serif;
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}

.h3-grid {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template

}

.in-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.in-grid img {

    width: 500px;

}

.link-button {
    background-color: white;
    border: dotted;
}
.link-button:hover {
    background-color: palevioletred;
}